@import "./quasar.variables.scss";
@import "~quasar-styl";
// @import '~quasar-addon-styl';

// .q-header {
//     background-color: $grey-3 !important;
// }

// .q-drawer__content {
//     background-color: $green !important;
//     text
// }

// custom font

@font-face {
  font-family: "custom-font";
  src: url("./fonts/Poppins-Bold.ttf");
  src: url("./fonts/Poppins-SemiBold.ttf");
  src: url("./fonts/Poppins-Medium.ttf");
}

.p-bold {
  font-family: "custom-font", "Poppins-Bold";
}

.p-medium {
  font-family: "custom-font", "Poppins-SemiBold";
}

.p-normal {
  font-family: "custom-font", "Poppins-Medium";
}

.q-card {
  border-radius: 20px 20px 20px 20px;
}

* {
  font-family: "custom-font", "Poppins-Bold";
}

.__border-radius {
  border-radius: 10px 10px 10px 10px !important;
}

.material-icons {
  font-size: 17px !important;
}
